/* Sections:
    -NAV
    -DROPDOWN
    -MODAL
    -BANNER
    -MAIN BODY
    -FOOTER */



:root {
    font-size: 16px;
    --main-color: hsla(10, 0%, 90%, 1);
    --accent-color: hsla(10, 0%, 80%, 1);
    --company-color: blue;
    --dark-color: hsla(10, 0%, 60%, 1);
    --text-color: hsla(10, 0%, 30%, 1);
    --link-color: hsla(15, 80%, 50%, 1);
    --banner-height: 20rem;
    --banner-image: url(imgs/main-banner2.jpg);


}

html,body
{
    color: var(--text-color);
    background-color: var(--main-color);
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}


/* NAV START */


nav {
    position: fixed;
    background-color: var(--accent-color);
    width: 100%;
    height: 2.5rem;
    top: 0;
    left: 0;
    z-index: 1;
}

nav h1 {
    position: relative;
    left: 1rem;
    top: 0.2rem;
    display: inline;
    color: var(--text-color);
}

#phone-number {
    display: none;
}

nav ul {
    margin: 0;
    float: right;
}

nav li {
    top: 0;
    float: right;
    padding: 0.5rem 1rem 0.375rem 0;
    font-size: 1.25rem;
    list-style-type: none;
}

a:link {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
text-decoration: underline;
}

a:visited {
    color: var(--link-color);
    text-decoration: none;
}

#h3-link:visited {
    color: var(--text-color)
}

@media only screen and (max-width: 840px) {
    #best-company {
        display: none;
    }

    #phone-number {
        display: inline;
    }
}

@media only screen and (max-width: 493px) {
    nav {
        height: 4rem;
    }
}

@media only screen and (max-width: 301px) {
    nav ul li {
        padding-right: 0.5rem;
    }
}


/* NAV END */


/* DROPDOWN START*/

  
  .link {
    background: none;
    border: none;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
    color: var(--link-color);
  }
  
  .dropdown.active > .link,
  .link:hover {
    color: var(--link-color);
    text-decoration: underline;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    position: absolute;
    /* v DROPDOWN POSITION ADJUST v */
    right: -130%;
    top: calc(100% + 40%);
    /* ^ DROPDOWN POSITION ADJUST ^ */
    background-color: white;
    padding: .75rem;
    border-radius: 1rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    width: auto;
  }
  
  .dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  
  .information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
  }
  
  .dropdown-links {
    display: flex;
    flex-direction: column;
    gap: .25rem;
  }


  /*DROPDOWN END */


  /*MODAL START*/


.modal {
    position: fixed;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    left: 50%;
    top: 50%;
    z-index: 20;
    border: 2px solid black;
    border-radius: 10px;
    background-color: var(--main-color);
    max-width: 80%;
    padding: 1rem;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    z-index: 10;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }


.form-group {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.form-control {
    margin-bottom: 0.8rem;
    border: 2px solid #000;
    background-color: var(--main-color);
}

.submit {
    display: flex;
    margin: auto;
    border-radius: 1rem;
    border: none;
}

.submit:hover {
    background-color: var(--dark-color);
    transition-duration: 0.7s;
}


/*MODAL END*/


/* BANNER START */


main {
    position: relative;
    top: 2rem;
}

.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: fixed;
    z-index: 0;
    width: 100%;
    height: var(--banner-height);
    padding-left: 3rem;
    padding-right: 3rem;
    background-image: var(--banner-image);
    background-position: center;
    background-size: cover;
}

.banner .company-logo {
    margin: auto;
}

.company-logo img {
    width: 100%;
}

.banner-info {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    color: var(--main-color);
}

.banner-phone {
    background-color: hsla(10, 0%, 60%, 0.8);
    width: 20rem;
    margin: 2rem auto;
    border-radius: 1rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--company-color);
    width: 10rem;
    height: 2rem;
    margin: 2% auto;
    border-radius: 15px;
    text-align: center;
}

.button a {
    width: 200%;
}

.button:hover {
    background-color: var(--accent-color);
    transition-duration: 0.7s;
}




@media only screen and (max-width: 840px) {

    .banner {
        top: 2.5rem;
        padding: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 10rem;
        max-height: var(--banner-height);
    }
    
    .company-logo {
        margin-top: 2rem;
    }

    .banner-phone {
        display: none;
    }
}

@media only screen and (max-width: 493px) {

    .banner {
        top: 4rem;
    }

    main {
        top: 4rem;
    }
}

@media only screen and (max-width: 400px) {

    .banner {
        padding: 0;
    }

    .banner-phone {
        width: 85%; 
    }

    .dropdown-menu {
        font-size: 0.5rem;
        line-height: 1.5;
    }
}

@media only screen and (max-width: 344px) {
    .banner-phone {
        position: relative;
        top: -1rem;
        margin-top: 0;
    }    
}

main {
    top: var(--banner-height);
    background-color: var(--main-color);
    padding-top: 1rem;
}



/* BANNER END */


/* MAIN BODY START */



h2 {
    text-align: center;
}

#services, #our-team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

#our-team {
    padding-bottom: 3rem;
}

[class*=container] {
    background-color: var(--accent-color);
    margin: 1rem;
} 

.services-container {
    max-width: 300px;
    min-width: 250px;
}

.our-team-container {
    max-width: 350px;
    min-width: 300px;
}

h3 {
    border-bottom: 1px solid black;
    text-align: center;
}

figure {
    margin: 5% 5% 2% 5%;
}

figure img {
    width: 100%;
    height: 100%;
}

figcaption {
    text-align: center;
    max-width: 100%;
    word-wrap: break-word;
    padding: 1rem;
}


/* MAIN BODY END */


    /* MAIN BODY START (FIXED BG) */
/* 
    .main-container {
        height: 35rem;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .main-container > h2 {
        margin-bottom: 2rem;
    }
    
    [class ^= bg] > h2 {
        color: white;
    }
    
    [class ^= blank] > h2 {
        color: black;
    }
    
    .main-container > p {
        width: 50%;
        line-height: 1.8;
    }
    
    [class ^= bg] > p {
        padding: 1rem;
        border-radius: 1rem;
        background-color: hsla(10, 0%, 30%, 0.7);
        color: #fff;
    }
    
    [class ^= bg] {
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .bg-1 {
        background-image: url(imgs/London-Ontario-Skyline.jpg);
    }
    
    .bg-2 {
        background-image: url(imgs/London-Ontario-Skyline.jpg);
    }
    
    
     */
        /* MAIN BODY END (FIXED BG) */


/* FOOTER START */


footer {
    position: relative;
    top: var(--banner-height);
}

.footer-flex {
    display: flex;
    max-height: 10rem;
    padding-top: 2rem;
    background-color: var(--dark-color);
    bottom: 0;
    justify-content: space-around;
}

.footer-container {
    max-height: 8rem;
    overflow: hidden;
}

.footer-container figure img {
    height: 4rem;
}

.copyright {
    background-color: var(--dark-color);
    padding: 1rem;
    color: var(--main-color);
}


/* FOOTER END */